.app-cookbook .editingContainer .app-navigation-input-confirm__input:active+.app-navigation-input-confirm__confirm, .app-cookbook .editingContainer .app-navigation-input-confirm__input:active+.app-navigation-input-confirm__confirm, .app-cookbook .editingContainer .app-navigation-input-confirm__input:focus+.app-navigation-input-confirm__confirm, .app-cookbook .editingContainer .app-navigation-input-confirm__input:focus+.app-navigation-input-confirm__confirm,.app-cookbook .editingContainer .app-navigation-input-confirm__input:hover+.app-navigation-input-confirm__confirm, .app-cookbook .editingContainer .app-navigation-input-confirm__input:hover+.app-navigation-input-confirm__confirm {
    border-color: var(--color-primary-element);
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
    border:1px solid var(--color-primary-element) !important;
  }
  .cookbook-app-content .add-list-item{
    background-color: var(--color-primary);
      color: white;
      border-color: var(--color-primary);
  }
  .cookbook-app-content .cookbook-footer .button{
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
  }
  .cookbook-app-content .cookbook-footer .button span {
    background-image: var(--icon-checkmark-ffffff);
  }